<ion-header>
  <ion-navbar>
    <ion-title>
        {{ 'LOGIN.SIGNIN' | translate }}
      <!-- <img src = "img/sita.png" /> -->
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="login">


    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

        <ion-list>
            <ion-item>
                <ion-label color="primary"><ion-icon name="contact"></ion-icon>  {{ 'LOGIN.EMAIL' | translate }}</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary"><ion-icon name="key"></ion-icon>  {{ 'LOGIN.PASSWORD' | translate }}</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button primary block [disabled]="loginForm.invalid"  style="height:80px">{{ 'LOGIN.SIGNIN' | translate }}
            </button>

            <button
                    ion-button
                    clear
                    block
                    type="button"
                    (click)="goToRegisterPage()"
                    color="white"
                    text-capitalize
                    style="margin-top: 20px; text-transform: none;"
            >{{ 'LOGIN.ALREADY_HAVE_ACCOUNT' | translate }}
                <span text-underline style="margin-left: 10px;"> {{ 'LOGIN.REGISTER' | translate }} </span></button>
        </div>
    </form>
</ion-content>

