<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN.REGISTER' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="register">
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>

    <ion-list>
      <ion-item>
        <ion-label color="primary"><ion-icon name="contact"></ion-icon>  {{ 'LOGIN.EMAIL' | translate }}</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary"><ion-icon name="key"></ion-icon>  {{ 'LOGIN.PASSWORD' | translate }}</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button primary block [disabled]="registerForm.invalid"  style="height:80px">{{ 'LOGIN.REGISTER' | translate }}
      </button>
      <button
              ion-button
              clear
              block
              type="button"
              (click)="goToLoginPage()"
              color="white"
              text-capitalize
              style="margin-top: 20px;"
      >{{ 'LOGIN.ALREADY_HAVE_ACCOUNT' | translate }}
        <span text-underline style="margin-left: 10px;"> {{ 'LOGIN.SIGNIN' | translate }} </span></button>
    </div>
  </form>
</ion-content>
