<ion-content padding class="quantity">
  <ion-item>
    <ion-label><ion-icon name="archive"></ion-icon> {{ 'ADDPROD.PESO' | translate }}</ion-label>
    <ion-input #quantitytag text-right [(ngModel)]="amount" type="number"  placeholder="__" (ionBlur)="amountChangeEv($event)"  (keypress)="enterEv($event.keyCode)"></ion-input>
  </ion-item>
</ion-content>
