page-home {
  .class1{
    visibility:hidden;
  }
}

// .content {
//     background: none transparent;
// }

// .button {
//     background: none;
// }

// html , body, #my_page {
//     background: none;
// }
