 <ion-header>
  <ion-navbar transparent>
    <ion-buttons start >
      <button ion-button class ="toolbar-button" (click)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end >
      <button ion-button class ="toolbar-button" (click)="light()">
        <ion-icon [name]="true ? 'sunny' : 'sunny'"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Scansiona
    </ion-title>
  </ion-navbar>
</ion-header>

  <div>
    <img src="assets/img/qrscanner.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>


