<!-- il padding-ledft nello styke, serve per allineare bene insieme ai controlli puri, poichè ion-item aggiunge 1 altro padding di 16px -->
<ion-item (click)="onMyTreaglesComboClick()" no-lines style = "padding-left: 0px;">
  <ion-label class="custom-label"><ion-icon  name={{nameicon}}></ion-icon> {{name}}</ion-label>
  <ion-icon  name="arrow-dropdown" class = "custom-icon" item-right ></ion-icon>
  <ion-label *ngIf="selectedItem != null">{{selectedItem.name}}</ion-label>
</ion-item>
