<ion-header class="my-header-comboPopup">
  <ion-navbar>
    <ion-buttons end >
      <button ion-button (click)="cancelEv()"> <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title >{{attrname}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" (ionFocus)="scrollToTop()" placeholder="{{'MAIN.SEARCH_FOR' | translate}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding class="combopopup">
  <ion-item *ngIf="isNewToShow">
    <ion-label  color="primary">Nuovo</ion-label>
    <ion-input (input)="getItems($event)" [(ngModel)]="customText" placeholder="http://..."></ion-input>
  </ion-item>
  <div *ngIf="isNewToShow">
   <hr>
  </div>

  <ion-list *ngIf="!isOkToShow" [virtualScroll]="items" radio-group [(ngModel)]="selectedItem" [approxItemHeight]=" '45px' " [virtualTrackBy]="customTrackBy">
    <ion-item *virtualItem="let item" class="treagles-combo-item">
      <ion-label>{{item.name}}</ion-label>
      <ion-radio  color="secondary"  [value]="item" (click)="radioChange(item)" item-left></ion-radio>
    </ion-item>
  </ion-list>

  <!-- C'è un bug nella selezione delle radio btn. cambia solo se tolgo il focus. allor auso warkaround. utilizzo vecchia gestione, Non otimizzata con virtualscroller -->
  <ion-list *ngIf="isOkToShow"  radio-group [(ngModel)]="selectedItem">
    <ion-item *ngFor="let item of items" class="treagles-combo-item">
      <ion-label>{{item.name}}</ion-label>
      <ion-radio  color="secondary"  [value]="item" (click)="radioChange(item)" item-left></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer *ngIf="isNewToShow">
  <div padding>
    <ion-buttons end >
     <!-- <button ion-button color="primary" clear (click)="cancelEv()" >
        CANCEL
      </button> -->
      <button *ngIf="isOkToShow" ion-button color="primary" clear  (click)="okEv()">
        OKAY!
      </button>
    </ion-buttons>
  </div>
</ion-footer>

