page-home {
  .hp-button{
    height:120px;
    text-transform:none;
    font-size: 18px;
    font-family: sans-serif;
  }
  .hp-icon{
    zoom:2.0;
  }
  //div centrato e con una certa width. serve per centrare i bottoni
  .hp-divButtons{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    background: linear-gradient(to bottom, #ffffff 0%, #c8f7ff 100%);
  }
}
