<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end >
      <button ion-button icon-right (click)="openLogout()" color="favourite" round>Logout
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Stockpile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="140px" class="home">
  <br><br><br><br><br>
  <div class="hp-divButtons">
  <button ion-button block  color="dark" (click)="openAddProd()" class="hp-button">
    <div>
      <ion-icon name="cloud-upload" class="hp-icon"></ion-icon>
      <br>
      <label>{{ 'MAIN.INSERT_ITEMS' | translate }}</label>
    </div>
  </button>
  <button ion-button block color="secondary" (click)="openListaProd()" class="hp-button">
    <div>
      <ion-icon name="list-box" class="hp-icon"></ion-icon>
      <br>
      <label>{{ 'MAIN.ITEMS_LIST' | translate }}</label>
    </div>
  </button>
  <button ion-button block color="dark" (click)="openSearchProd()" class="hp-button">
    <div>
    <img src="assets/img/qrcodeSearch.png" width="30%" >
      <br>
    <label>{{ 'MAIN.SEARCH_ITEMS' | translate }}</label>
    </div>
  </button>
</div>
</ion-content>
