<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="info">
  <ion-item>
    <p>Client ver: {{clientVer}}</p>
    <p>Storage ver: {{storageVer}}</p>
    <p>Server ver: {{serverApiVer}}</p>
  </ion-item>

</ion-content>
