// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
// $background-color:  #FFF;



//restringe verticalmente  l'oggetto range. usato nella fotocamera
//vedi proprietà https://ionicframework.com/docs/api/components/range/Range/
$range-md-padding-vertical:0px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #52a9f7, //#387ef5,
  secondary:  #c8f7ff,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #52a9f7,
  favorite:   #52a9f7//#69BB7B
);


$sfondo:#52a9f7;//#FAD201; // #BFD4E9;
$itemMenucolor : #c8f7ff; //#EFA94A; // #DEFCFB;
$item-divider-color : #FFFFFF;

/*.ion-content {
  background: $app-background;
}*/

.sfondo {
   background-color: $sfondo !important;
  color: #ffffff;
  .item {
    padding: 20px;
    background-color: $itemMenucolor;
    border-top: 1px solid #464646;
    border-bottom: 1px solid $item-divider-color;

  }
  //linea divider tra gli item di menù
  .item-inner{
    border-bottom: 0px !important;
  }

}

.toolbar-background {
  border-color: #b2b2b2 !important;
  background: $sfondo !important;
}

.toolbar-button {
  width: 55px;
}
//altezza degli item, sefve affinche abbiano tutti la stessa h
//soprattutto quando metto il bottone per quelli di tipo enum
.input-wrapper{
   // height: 64px !important;
   //height: 10vh !important;
 }

//footer sulla pag aggiungi prodotti
ion-footer {
  background-color: $sfondo;
}
ion-footer::before {
  background-color: cadetblue;
  border: 1px solid #464646;
}

//colore di sofondo della card su aggiungi prodotto. dettaglio del engozio, genere..
ion-card {
  background: #e6e6ff !important;
  padding: 0 !important;
}


.mainButton {
  height: 160px;
  margin-top: 2em;
}


.progress-bar {
  background-color: #F0E68C;
  height: 5%;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  //margin-left: 10%;
  //margin-right: 10%;
  margin-top: 150px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  border-radius: 5px;

  span {
    text-align: center;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    background-color: color($colors, primary);
    transition: width .4s ease-in-out;
  }
}

//usata in AddEditWare per non dare effetto elastico alla combo + bottone add
//Infatti capita che se scelgo un valore lungo la combo si allunga e il bottone si restringe
ion-item.selfixedwidth  {
  flex: 0 0 200px;
  max-width: 200px;
}



//box per il colore della scelta
//NON più usato. VEDI .color-box-add in addEditWare.scss
.color-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  border : 2px solid black;
  right: 5px;
  top: 20px;
}




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";
