<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <!--<ion-buttons left>
        <button ion-button (click)="confirmExitApp()">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title> {{version}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="sfondo">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name= {{p.img}}></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
