<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PROD_SEARCH_RES.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="search">

  <div *ngIf="product==null">
    <ion-item-divider [style.background]="colorProductNok">
      <h2>{{ 'PROD_SEARCH_RES.NO_PROD' | translate }} </h2>
    </ion-item-divider>
  </div>

  <div *ngIf="product!=null">
    <ion-item-divider [style.background]="colorProductOk">
      <h2>{{ 'PROD_SEARCH_RES.PROD_FOUND' | translate }} </h2>
    </ion-item-divider>

    <ion-list>
      <button ion-item (click)="itemTapped($event, product.id)">
        <h2>{{ 'LISTPROD.WAREHOUSE' | translate }}: {{getWarehouseName(product.warehouse_id)}} - {{ 'LISTPROD.PRODUCT' | translate }}: {{product.local_id}}</h2>
        <p>
          {{ 'LISTPROD.QRCODE' | translate }}: {{product.qrcode}}
        </p>
        <p>
          {{ 'LISTPROD.CATEGORY' | translate }}: {{getCategoryName(getCategory(product))}} - {{ 'LISTPROD.TYPE' | translate }} : {{getTypeName(product.type_id)}}
        </p>
        <p>
          {{ 'LISTPROD.AMOUNT' | translate }}: {{product.amount}} - {{ 'LISTPROD.BESTBEFOREDATE' | translate }}: {{product.bestbeforedateDATE | date:'dd/MM/yyyy'}}
        </p>
      </button>
    </ion-list>
  </div>

</ion-content>
