page-list-prod {
  .item-inner{
    padding: 5px 0 5px 0;
  }

  .input-wrapper{
    // height: 10vh !important;
  }

  .class1{
    color: red;
  }

  .list {
    background: linear-gradient(to bottom, #ffffff 0%, #c8f7ff 100%);
  }

}
