<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end >
      <button ion-button clear class="toolbar-button" (click)="searchProduct()">
        <img src="assets/img/qrcodeSearch.png" >
      </button>
    </ion-buttons>
    <ion-title>{{ 'LISTPROD.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="list">

  <div *ngIf="count_products>0">
    <ion-item-divider color="secondary" [style.background]="colorProduct">
      <div *ngIf="count_products==1 && myfiltyerQrCode=='ALL'">
        <p><strong>1 {{ 'LISTPROD.PRODUCT' | translate }}</strong></p>
      </div>
      <div *ngIf="count_products>1 && myfiltyerQrCode=='ALL'">
        <p><strong>{{count_products}} {{ 'LISTPROD.PRODUCTS' | translate }}</strong></p>
      </div>
      <div *ngIf="myfiltyerQrCode!='ALL'">
        <p><strong>{{ 'PROD_SEARCH_RES.TITLE' | translate }}</strong></p>
        <button ion-button item-right (click)="clearfilterQrCode()">
          <ion-icon name="redo"></ion-icon>
        </button>
      </div>

      <button ion-button  class="toolbar-button" item-right (click)="ordinaDataScadenza()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-item-divider>
  </div>
  <BR>
  <ion-list>
      <!--<ion-item-sliding *ngFor="let product of products ,let i = index | searchQrcode:{qrcode:myfiltyerQrCode}">-->
     <ion-item-sliding *ngFor="let product of products | async | searchQrcode:{qrcode:myfiltyerQrCode} ">

      <!--<ion-item (click)="itemTapped($event, product)" (press)="deleteProduct(product)">-->
       <ion-item  *ngFor="let warehouse of warehouses| async" (click)="itemTapped($event, product.id)" (press)="deleteProduct(product)">
         <div *ngIf="warehouse.id===product.warehouse_id">
           <p><strong> {{product.local_id}} - {{warehouse.name}}</strong> </p>
         </div>
         <div *ngFor="let type of types|async">
           <div *ngIf="type.id===product.type_id">
             <div *ngFor="let category of categories| async">
               <div *ngIf="category.id===type.category_id">
                 <p>
                   {{category.name}} - {{type.name}} - {{product.amount}}
                 </p>
               </div>
             </div>

           </div>
         </div>

        <p>
          Data ins: {{product.insertdate}}
        </p>
        <p [ngClass]="{'class1' : (product.isExpired)}" >
          {{ 'LISTPROD.BESTBEFOREDATE_ABBR' | translate }} {{product.bestbeforedate}}
        </p>
        <button ion-button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteProduct(product)">{{ 'GLOBAL.REMOVE' | translate }}
        <!--<button ion-button color="danger" >{{ 'GLOBAL.REMOVE' | translate }}-->

            <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button (click)="itemTapped($event,product.id)">{{ 'GLOBAL.EDIT' | translate }}
          <!--<button ion-button>{{ 'GLOBAL.EDIT' | translate }}-->
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <div *ngIf="this.myfiltyerQrCode != C_ALLstring">
    <div padding>
      <button ion-button primary block  (click)="login()" style="height:80px">{{ 'LISTPROD.SCARICA' | translate }}</button>
    </div>

    <div padding>
      <button ion-button primary block  (click)="login()" style="height:80px">{{ 'LISTPROD.MODIFICA' | translate }}</button>
    </div>

    <div padding>
      <button ion-button primary block  (click)="login()" style="height:80px">{{ 'LISTPROD.NULLA' | translate }}</button>
    </div>
  </div>
</ion-content>
