page-add-prod {
  ion-label {
    color : grey;
    font-size: 14px;
    overflow: visible !important;
  }
  .labelqrcode{
    padding-top: 20px;
  }

  .big-icon{
    zoom:3.0;
  }

  .input-wrapper{
    // height: 64px !important;
    height: 12vh !important;
  }

  .addprod {
      background: linear-gradient(to bottom, #ffffff 0%, #c8f7ff 100%);
  }


}


