<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ titleAddOrEdit }}  <ion-icon  *ngIf="!disabledSave"  name="create" style="color: #c8f7ff; zoom:1"></ion-icon></ion-title>&nbsp;&nbsp;
    <span>{{currentProduct.insertdate}}</span>
  </ion-navbar>
</ion-header>

<ion-content padding class="addprod">

  <ion-item>
    <treagles-combo [name]=html_warehouse_label [selectedItem]=selectedWarehouse [items]=warehouses [nameicon]=icon_warehouse (onValueChange)="onMyTreaglesComboWarehouseClick($event)"></treagles-combo>
  </ion-item>

  <ion-item>
    <treagles-combo [name]=html_category_label [selectedItem]=selectedCategory [items]=categories [nameicon]=icon_category (onValueChange)="onMyTreaglesComboCategoryClick($event)"></treagles-combo>
  </ion-item>

  <ion-item>
    <treagles-combo [name]=html_type_label [selectedItem]=selectedType [items]=types [nameicon]=icon_type (onValueChange)="onMyTreaglesComboTypeClick($event)"></treagles-combo>
  </ion-item>

  <ion-item (click)="amountFocusEv()">
    <ion-label><ion-icon name="archive"></ion-icon> {{ 'ADDPROD.PESO' | translate }}</ion-label>
    <ion-label  text-right  >{{ currentProduct.amount }} {{ defaultamount }}</ion-label>
  </ion-item>
 <!-- <ion-item>
    <ion-label><ion-icon name="calendar"></ion-icon> {{ 'ADDPROD.DATASCADENZA' | translate }}</ion-label>
    <ion-datetime displayFormat="D MMM YYYY" [min]="minDate" max="2025-10" [(ngModel)]="myDate"></ion-datetime>
  </ion-item> -->
  <ion-item no-lines ion-datepicker
            (ionChanged)="setDate($event);"
            [value]="bestbeforedateDATE"
            [localeStrings]="localeStrings"
            [cancelText]="cancelText"
            (click)="backToList()"
            clear>
    <ion-label id ="mycalendar" class="labelGray"><ion-icon name="calendar"></ion-icon>
      &nbsp;{{ 'ADDPROD.DATASCADENZA' | translate }}&nbsp;&nbsp;{{bestbeforedateDATE | date: 'dd/MM/yyyy'}}</ion-label>
  </ion-item>
<!--
  <ion-item (click)="takeQrCode()">
    <ion-label><ion-icon name="qr-scanner"></ion-icon> QrCode</ion-label>
    <ion-label *ngIf="currentProduct.qrcode!=null" text-right>{{currentProduct.qrcode}}</ion-label>
    <ion-label *ngIf="currentProduct.qrcode==null" text-right>__</ion-label>
  </ion-item> -->

  <ion-item no-lines style="padding-left:16px; border:3px solid lightgrey" (click)="takeQrCode()">
    <ion-label><ion-icon name="qr-scanner" class="big-icon"></ion-icon></ion-label>
    <ion-label *ngIf="currentProduct.qrcode != null && currentProduct.qrcode != ''" text-right>{{currentProduct.qrcode}}</ion-label>
    <ion-label *ngIf="currentProduct.qrcode == null || currentProduct.qrcode == ''" text-right>&lt;{{ 'ADDPROD.QRCODE' | translate }}&gt;</ion-label>
  </ion-item>

 <!-- <ion-row>
    <ion-col>
      <button ion-button block  icon-left primary (click)="takeQrCode()" style="height:80px">
        <ion-icon name="qr-scanner"></ion-icon>
        <div>{{ 'ADDPROD.QRCODE' | translate }}</div>
      </button>
    </ion-col>
    <ion-col>
      <ion-label class="labelqrcode" *ngIf="currentProduct.qrcode!=null" text-right>{{currentProduct.qrcode}}</ion-label>
      <ion-label class="labelqrcode" *ngIf="currentProduct.qrcode==null" text-right>&lt;vuoto&gt;</ion-label>
    </ion-col>
  </ion-row> -->


</ion-content>

<ion-footer>
  <div >
    <ion-grid>
    <ion-row>
      <ion-col>
        <!-- il bottone salva è disabilitato in edit se non cambio nulla, in add se ho completato tutto e se è un capo da cricare -->
        <button ion-button block icon-left color="secondary" [disabled]="disabledSave && !isAdd" (click)="addOrEditProduct()">
          <ion-icon name="clipboard"></ion-icon> {{ 'GLOBAL.SAVE' | translate }}
        </button>
      </ion-col>
      <ion-col>
        <button  *ngIf="!isAdd" ion-button block icon-left color="danger"  (click)="scaricaProduct()">
          <ion-icon name="trash"></ion-icon> {{ 'GLOBAL.REMOVE' | translate }}
        </button>
      </ion-col>
     <!--<ion-col>
        <button ion-button block icon-left color="favorite"  (click)="backToList()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>-->
      </ion-row>
    </ion-grid>

  </div>
</ion-footer>



